
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.background {
  background-image:url("../images/01.jpg"); /* default image in credits */
  background-position: center;
  -webkit-background-size: 100% auto; 
  background-size: 100% auto;
  -webkit-background-size: cover; 
  background-size: cover; 
  box-shadow:  inset 0px 0px 300px 40px rgba(0, 0, 0, .5);
}

.backdrop {
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, .4);
  /*-webkit-box-shadow: 0px 10px 20px 6px rgba(0, 0, 0, .45);*/
  /*box-shadow:         0px 10px 20px 6px rgba(0, 0, 0, .45);*/
  color: white;
}

#container {
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: absolute;
}

#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;  /* Height of the footer */
}

#body {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;  /* Height of the footer */
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;  /* Height of the footer */
}

#footer_info_background {
  float: left;
}
#footer_info_credits {
  float: right;
}

#show_previous {
  /*box-shadow:  -10px 0px 20px 6px rgba(0, 0, 0, .45);*/
   /* rotate 270 degrees */
  -webkit-transform: rotate(270deg);
  -webkit-transform-origin: right top 0;
  padding: 10px;
  padding-right: 20px; /* after rotation, this is top */
  position: absolute;
  height: 40px;
  right: 100%;
  white-space: nowrap;
}

#previous {
  float: left;
  width: 40%;
  margin: 0px 0px auto 40px /* 40px for show_previous */;
  padding: 10px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

#main {
  float: right;
  width: 50%;
  margin: auto 40px auto 0px;
  padding: 10px;
}

.btn-danger {
  margin: 0px;
  padding: 2px;
}

.event_done_true {
  text-decoration: line-through;
}
.event {
  color: white;
}

ul.event {
  margin: 0px;
  list-style: none;
}

a.event,
a.event:hover {
  color: white;
}

.alert {
  padding: 5px;
  background: rgba(255, 255, 0, 0.5);
  color: black;
} 
 
.footer {
  color: white;
}
a.footer,
a.footer:hover {
  color: white;
}

.editable-wrap {
    width: 80%;
}
input.editable-input,
textarea.editable-input {
  border: none;
  color: black;
}
textarea.editable-input {
  width: 100%;
  height: 60px;
}
